<h1 class="page-title">About</h1>
<div class="row">
    <div class="col m12">
        <p>Version 1.0</p>
        <p>MotusPosts is Node based application for creating and sharing posts.</p>
    </div>
</div>