<h1>Welcome</h1>
<p>This is Motus Posts 1.0</p>
<p>Posts from the Motus Development Team</p>
{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i>Login with Google</a>
{{/if}}
